  /* Style umum untuk body */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
  }
  P {
    align-items: center;
  }
  h1 {
    font-size: 40px;
    padding: 0vw;
    margin-top: 2vh;
    margin-bottom: 1vh;
  }
  h2 {
    font-size:29px;
    margin-top: 1vh;
    margin-bottom: 3vh;
  }
  h3 {
    font-size: 15px;
    font-weight: 100;
  }
  br {
    font-size: 3vh;
    gap: 3vh;
  }
  .textstyle {
    font-size: 23px;
  }
  
  .menu-btn {
    font-size: 15px;
    color: white;
    padding: 0;
    background-color: #333;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    z-index: 1000; /* Ensures the button is in the front */
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    height: 5vh;
    width: 9vw;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    left: 2vw;
    top: 3vh;
}

  /* Style untuk tombol menu */
  .nav-menu.open {
    max-height: 300px; /* Set a height for the animation */
    opacity: 1;
}

.popup-btn {
    font-size: 15px;
  }

.nav-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    top: 9.5vh;
    left: 2vw;    
    gap: 1.5vh;
    z-index: 1000;
    overflow: hidden;
    max-height: 0; /* Initially hidden */
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease; /* Animation effect */
}

.nav-menu a {
    text-decoration: none;
    color: white;
    padding: 0;
    background-color: #333;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    height: 5vh;
    width: 9vw;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
  }

  .nav-menu a:hover {
    background-color: #00d9ff;          /* Ubah warna background saat hover */
    transform: scale(1.05);          /* Skala sedikit lebih besar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Tambah bayangan */
  }
   
  .popup {
    display: none; /* Tersembunyi secara default */
    position: relative;
    left: 0.5vw;
    top: 1vh; 
    background-color: rgba(0, 0, 0, 0.5); /* Latar belakang gelap transparan */
  }

  /* Konten popup */
  .popup-content {
    background-color: rgb(82, 82, 82);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    height: 200vh;
    width: 96vw;
  }
  
  /* Tombol tutup (x) */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2vw;
    cursor: pointer;
    color: #aaa;
  }
  
  .close:hover {
    color: #555;
  }

  .rowitem {
    display: flex;
    flex-direction: row; 
  }

  .Center {
    display: flex;
    justify-content: center;
  }

  .Beranda {
    position: absolute;
    width: 80vw;
    height: 100vh;
    align-content: center;
  }
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  #typingHeadingContainer {
    font-size: 37px;
    color: #ffffff;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
  }
  
  /* Style for the typing effect container */
  #typingTextContainer {
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    color: #ffffff;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    text-align: justify;
    max-width: 100vw;
    line-height: 1.6;
  }
  
  
  /* Blinking cursors */
  #headingCursor, #textCursor {
    font-weight: bold;
    animation: blink 0.7s steps(1) infinite;
    color: #ffffff;
  }
  
  /* Keyframe for the blinking cursor */
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  @media (max-width: 1024px) {
    #typingTextContainer {
        font-size: 20px;
    }
    #typingHeadingContainer {
      font-size: 32px;
    }
  }

  td {
    text-align: left;
  }

.tablecontainer {
  display: flex;
  justify-content: center;
}

.social-icons {
  /* display: flex; */
  display: flex;
  flex-direction: column; /* Tampilkan ikon dan teks dalam satu kolom */
  gap: 0.7vh; /* Jarak antar ikon */
}

.social-icons a {
  color: #ffffff;
  text-decoration: none;
  display: flex; /* Ikon dan teks berada dalam satu baris */
  gap: 10px; /* Jarak antara ikon dan teks */
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #4CAF50; /* Warna saat ikon di-hover */
}

.iconcontainer {
  display: flex;
  justify-content: flex-start;
}

.container1 {
  display: flex;
  align-items: flex-start;
  gap: 1.5vw;
}

.display-image {
  display: block;
  width: 25vw; 
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

table {
  width: 69vw;
  font-size: 1vw;
  font-size: 1.5vw;
  border-collapse: collapse; 
  color: #fffcfc;
  border-collapse: separate; 
  border-spacing: 5px 7px;
}

tbody tr:nth-child(even):hover {
  background-color: rgb(82, 82, 82);
  color: rgb(255, 255, 255);
}

tbody tr:nth-child(odd):hover {
  background-color: #525252;
  color: white;
}

.Education:nth-child(even) {
  background-color: #3691b4f1;
}

.Education:nth-child(odd) {
  background-color: #5b99b1f1;
}

.IStudent:nth-child(even) {
  background-color: #3057aaf1;
}

.IStudent:nth-child(odd) {
  background-color: #4d6cadf1;
}

.Course:nth-child(even) {
  background-color: #7a33b4f1;
}

.Course:nth-child(odd) {
  background-color: #8b58b4f1;
}

.ESkill:nth-child(even) {
  background-color: #a835b8f1;
}

.ESkill:nth-child(odd) {
  background-color: #ac58b8f1;
}

.PSkill:nth-child(even) {
  background-color: #a83080f1;
}

.PSkill:nth-child(odd) {
  background-color: #a54886f1;
}

.DSkill:nth-child(even) {
  background-color: #b43550f1;
}

.DSkill:nth-child(odd) {
  background-color: #b14d63f1;
}

.inputvideo {
  position: relative;
  left: 0;
  top: 0;
  width: 40vw;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
  background: #000;
}

iframe {  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.explain {
  color: #000000;
  background-color: #dddddd;
  width: 36vw;
  display: flex;
  justify-content: flex-start;
  padding: 0vh 2vw;
  font-family: Arial, Helvetica, sans-serif;
}

.input-row {
  display: flex;
  justify-content: space-around;
  gap: 2vw;
  margin-bottom: 20px;
  align-items: flex-start;
}

.input-group {
  flex: 1;
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #000000;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 6px;
  font-weight: bold;
  display: flex;
  align-content: first baseline;
}

input[type="text"],
input[type="date"],
textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 96%;
}

textarea {
  resize: vertical;
}

/* Styling radio buttons */
.gender-options {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.gender-options label {
  margin-right: 20px;
  font-weight: normal;
  margin-bottom: 0px;
}

/* Styling the submit button */
button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

@media (max-width: 600px) {
  .form-container {
    width: 85%;
  }

  input[type="text"],
  input[type="date"],
  textarea {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  #typingTextContainer {
      font-size: 14px;
  }
  h1 {
      font-size: 30px;
  }
  h2 {
      font-size: 19px;
  }
  .textstyle {
    font-size: 16px;
  }
  .menu-btn {
    font-size: 11px;
  }
  .popup-btn {
    font-size: 11px;
  }
  table{
    width: 63vw;
  }
}

/* Layar sangat kecil (ponsel dalam posisi potret) */
@media (max-width: 480px) {
  #typingTextContainer {
      font-size: 1em;
      max-width: 90%; /* Menambah lebar untuk mengisi lebih banyak area layar */
  }
  h1 {
      font-size: 1.8em;
  }
  h2 {
      font-size: 1.4em;
  }
}